.dd-btn {
  @apply font-normal rounded-none my-3 leading-none px-16 py-4 text-2xl mt-6 px-16 py-3;

  transition: $transition;

  a {
    @apply border-none;
  }

  @screen md {
    @apply text-xl mt-0 py-4 text-xl;
  }
}

.wp-block-button {
  .wp-block-button__link {
    @apply font-grotesk font-normal rounded-none my-3 leading-none mt-3 px-8 py-4 text-2xl;

    transition: 0.2s ease;
  }

  &.is-style-outline {
    .wp-block-button__link {
      @apply bg-transparent border border-solid border-black;

      &:hover {
        @apply bg-black text-white;
      }
    }
  }

  @screen md {
    .wp-block-button__link {
      @apply py-4 text-xl px-16;
    }
  }
}

.dd-btn--outline-white a {
  @apply text-white;
}

.dd-btn--outline {
  @apply bg-transparent border border-solid border-black text-black;

  a {
    @apply text-black;
  }

  &:hover {
    @apply bg-black text-white;

    a {
      @apply text-white;
    }
  }
}

.dd-btn--primary {
  @apply bg-primary text-white;

  &:hover {
    @apply bg-black;
  }
}

.dd-btn--outline-white {
  @apply bg-transparent border border-white text-white;

  &:hover {
    @apply bg-primary border-primary;
  }

  &:hover a {
    @apply text-white;
  }
}
