.dd-checkout-form {
  label.error {
    @apply text-primary block;

    margin-top: 0.2rem;
  }
}

.dd-checkout-form .input,
.dd-checkout-form .select,
.dd-checkout-form .stripe-card-field {
  padding: 16px 18px 17px;
  border-radius: 0;
  background-color: #dcdde1;
  border: 1px solid #ccc;
  box-shadow: 0 0 0 #fff inset;
  height: auto;
  max-height: 57px;
  width: 100%;
}

.dd-checkout-form .control {
  margin-bottom: 10px;
  max-height: 57px;
  margin-right: 0;
}

.dd-checkout-form .select-control {
  max-height: none;
}

.dd-checkout-form .input {
  padding-right: 3rem;
}

.dd-checkout-form .select select {
  background-color: #dcdde1;
  border: none;
  margin-top: -5px;
}

.dd-checkout-form .select select:active {
  box-shadow: none;
}

.dd-checkout-form .dd-button-primary:hover {
  border-color: #f60;
}

.dd-checkout-form .fas {
  font-size: 1rem;
  text-align: center;
  vertical-align: top;
  position: absolute;
  top: 50%;
  right: 0.7rem;
  transform: translateY(-50%);
  color: rgba(35, 209, 96, 1);
  display: none;
  z-index: 5;
}

.dd-checkout-form .form-links {
  display: inline-block;
  margin-top: 42px;
  margin-left: 15px;
}

#loading-form.is-loading::after {
  -webkit-animation: a 0.5s infinite linear;
  animation: a 0.5s infinite linear;
  border: 2px solid #f60;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  width: 1em;
  position: absolute !important;
  left: 7rem;
  top: 45%;
}

#e-mail.is-loading::after {
  border: 2px solid #f60;
  border-right-color: transparent;
  border-top-color: transparent;
  top: 20px;
}

html body .dd-checkout-form .input.has-text-danger {
  border-color: #e74c3c;
  color: #e74c3c;
}

html body .dd-checkout-form .input.dd-input-sucess,
html body .dd-checkout-form .select.dd-input-sucess {
  border-color: rgba(35, 209, 96, 1);
  background-color: #fff;
}

html body .dd-checkout-form .select.dd-input-sucess select {
  background-color: #fff;
}

.dd-checkout-form #state,
.dd-checkout-form #city,
.dd-checkout-form #zip-code {
  width: 100%;
  vertical-align: top;
  margin-bottom: 1.5rem;
  position: relative;
  max-height: 57px;
}

.dd-checkout-form .column {
  padding-top: 0;
}

.dd-checkout-form #credit-card,
.dd-checkout-form #cvc-field,
.dd-checkout-form #year_month_selects {
  max-height: none;
}

.dd-checkout-form .button[disabled] {
  border-color: #f60;
}

.dd-checkout-form .button[disabled]:hover {
  color: transparent;
}

.dd-checkout-form #loading-form .button {
  height: 54px;
}

.dd-checkout-form #cvc-field {
  max-width: 200px;
}

@media only screen and (min-width: 1200px) {
  .dd-checkout-form #city {
    width: 25%;
  }

  .dd-checkout-form #state {
    width: 37%;
  }

  .dd-checkout-form #zip-code {
    width: 36%;
  }

  .dd-checkout-form .control {
    margin-right: 0.5rem;
  }

  .dd-checkout-form #first-name,
  .dd-checkout-form #address {
    margin-bottom: 1.5rem;
  }

  .dd-checkout-form #payment_header {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .dd-checkout-form .control {
    margin-bottom: 1.5rem;
  }

  .dd-checkout-form #credit-card {
    margin-right: 1.5rem;
  }

  .dd-checkout-form #year_field {
    margin-right: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .dd-checkout-form #year_field {
    margin-right: 0;
  }

  .dd-checkout-form #cvc-field {
    max-width: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  .dd-checkout-form #first-name,
  .dd-checkout-form #e-mail {
    margin-right: 0.5em;
  }

  .dd-checkout-form #year_month_selects .is-inline-block {
    width: 49.6%;
  }
}

@media only screen and (max-width: 768px) {
  .dd-checkout-form #state,
  .dd-checkout-form #city,
  .dd-checkout-form #zip-code {
    margin-bottom: 1.5rem;
  }

  .dd-checkout-form #credit-card {
    margin-right: 0;
  }

  .dd-checkout-form #year_month_selects,
  .dd-checkout-form .select select {
    width: 100%;
  }

  .dd-checkout-form #year_month_selects .is-inline-block {
    width: 49.4%;
  }

  .dd-checkout-form #year_month_selects .is-inline-block .select {
    width: 100%;
  }

  .dd-checkout-form #payment_header {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 497px) {
  .dd-checkout-form #year_month_selects .is-inline-block {
    width: 100%;
  }
}
