/* Effect 4: bottom border enlarge https://tympanus.net/codrops/2013/08/06/creative-link-effects/ */
.cl-effect-4 a {
  @apply relative;

  padding: 0 0 5px;
}

.cl-effect-4 a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ed5b00;
  content: "";
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-5px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
  height: 2px;
  opacity: 1;
  transform: translateY(0);
}
