.headroom {
  @apply fixed z-50;

  will-change: opacity;
  // transition: opacity 200ms linear;
  transition: all 0.6s cubic-bezier(0.19, 0.13, 0, 1.01);
  left: 0;
  right: 0;
}

.headroom--pinned {
  @apply opacity-100;

  // transform: translateY(0%);
}

.headroom--unpinned {
  @apply opacity-0 z-negative;
}
