@keyframes ripple {
  0% {
    width: 100px;
    height: 100px;
    opacity: 1;
  }

  96% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.loading-overlay {
  @apply hidden w-full h-full z-50;
}

.loading-overlay__inner {
  @apply absolute flex justify-center items-center w-full h-full;

  svg {
    width: 100px;
    animation: ripple 2s ease-out infinite;
  }
}
