.dd-load-more__btn-container {
  @apply text-center mt-20;
}

.dd-load-more__btn {
  @apply relative;
}

.dd-load-more__btn-spinner {
  @apply absolute hidden;

  right: 20px;
  top: 8px;
  width: 24px;
  height: 24px;

  @screen md {
    top: 15px;
  }
}

.dd-load-more__btn-spinner div {
  @apply block absolute border-white border-solid border-2 rounded-full;

  box-sizing: border-box;
  width: 20px;
  height: 20px;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.dd-load-more__btn-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.dd-load-more__btn-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.dd-load-more__btn-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dd-load-more__btn--loading {
  @apply bg-primary border-primary text-white;

  .dd-load-more__btn-spinner {
    @apply inline-block;
  }
}
