.error404,
.page-id-2858 {
  .content .main {
    padding-top: calc(96px - 2.5rem);
  }

  .hero {
    h1 {
      &::after {
        content: "...";
      }
    }
  }

  @screen sm {
    .content .main {
      @apply pt-0;
    }
  }
}
