.author {
  .entry-title {
    a {
      @apply text-black;
    }
  }

  .user-avatar {
    @apply w-32;
  }

  .post + .post {
    @apply mt-24;
  }

  .nav-links {
    .nav-previous,
    .nav-next {
      @apply text-xl mt-10;
    }
  }
}
