.dd-core-team-cols {
  .wp-block-column {
    @apply px-8;
  }

  .wp-block-column:nth-of-type(even) {
    @screen lg {
      @apply mt-16;
    }
  }
}

.dd-co-creation-logos-cols {
  @apply px-10;

  .wp-block-image {
    @apply text-center;
  }

  a {
    @apply border-none;
  }

  figure {
    @apply w-full;
  }

  img {
    @apply opacity-50;

    transition: opacity 0.3s ease-out;

    &:hover {
      @apply opacity-100;
    }
  }

  .wp-block-column + .wp-block-column {
    @apply mt-8;

    @screen md {
      @apply mt-0;
    }
  }

  @screen md {
    @apply px-0;
  }
}
