.dd-nav-secondary {
  @apply hidden;

  top: 35px;
  right: 94px;
  transition: opacity 0.3s ease;
  transition-delay: 0.2s;

  svg {
    width: 30px;
    margin-left: 2.5rem;

    @screen xl {
      width: 30px;
    }
  }

  a {
    @apply flex h-full border-none;

    &:hover {
      @apply text-primary;

      svg {
        @apply fill-current;

        transition: all 0.5s ease;
      }
    }
  }

  @screen xl {
    @apply block;

    top: 0;
    right: 0;
  }
}
