.dd-entry-meta__category-link {
  @apply font-grotesk;

  &--separator {
    @apply relative ml-1;

    &::before {
      @apply absolute;

      content: ",";
      left: -0.4rem;
    }
  }
}

.dd-entry-header__category-link {
  @apply uppercase font-normal;

  &--separator {
    &::before {
      content: "/ ";
    }
  }

  &--separator-2 {
    &::before {
      content: "// ";
    }
  }
}

.post {
  @apply relative;

  p + h1,
  p + h2,
  p + h3,
  p + h4,
  p + h5 {
    @apply mt-8;
  }

  ul {
    @apply mb-6;

    li {
      @apply text-xl font-grotesk;
    }

    li + li {
      @apply mt-2;
    }
  }

  figure {
    @apply my-6;

    a {
      @apply border-none;
    }
  }

  .wp-block-image,
  .wp-block-embed.is-type-video {
    @apply my-12;
  }

  .shared-counts-wrap {
    @apply mb-16;

    @screen md {
      @apply mb-0;

      top: 50px;
      right: 0;
    }
  }

  .shared-counts-wrap.style-icon .shared-counts-button .shared-counts-icon {
    @apply text-black;

    transition: color 0.3s ease;

    &:hover {
      @apply text-primary;
    }
  }

  .shared-counts-wrap.style-icon .shared-counts-button .shared-counts-icon svg {
    @apply fill-current;

    width: 32px;
    height: 32px;
  }

  .shared-counts-wrap.style-icon {
    .shared-counts-button + .shared-counts-button {
      @apply ml-4;

      @screen md {
        @apply mt-3 ml-0;
      }
    }
  }

  a.shared-counts-button:hover {
    @apply border-transparent;
  }

  &.has-post-thumbnail {
    .shared-counts-wrap {
      @screen md {
        @apply absolute flex flex-col w-10;

        right: 2.5rem;
        top: 300px;
      }
    }
  }
}

.youtube-responsive-container {
  @apply my-8 relative overflow-hidden h-0;

  padding-bottom: 56.25%;
  padding-top: 30px;

  iframe,
  object,
  embed {
    @apply absolute w-full h-full;

    top: 0;
    left: 0;
  }
}
