.dd-case-study-subheading {
  @apply font-normal font-grotesk text-h4 mb-4;

  &::after {
    @apply block bg-primary mt-1; //TODO: Add gradient

    content: "";
    width: 30px;
    height: 3px;
  }
}
