.page-id-2959 {
  .content .main {
    padding-top: calc(96px - 2.5rem);
  }

  .dd-hero {
    @screen xl {
      min-height: 800px;
    }
  }

  @screen sm {
    .content .main {
      @apply pt-0;
    }
  }
}
