.page-id-3023 {
  .content .main {
    padding-top: calc(96px - 2.5rem);
  }

  .shared-counts-wrap {
    @apply flex justify-between;
  }

  .shared-counts-wrap.style-icon .shared-counts-button {
    @apply border-none;
  }

  .shared-counts-wrap.style-icon .shared-counts-button .shared-counts-icon {
    @apply w-16 h-16;

    svg {
      @apply w-10 h-10;
    }
  }

  .dd-hero {
    @screen xl {
      min-height: 800px;
    }

    .dd-hero__inner {
      background: $gradient-2; // TODO: Should be a setting
    }

    .dd-hero__content {
      .dd-btn {
        @apply bg-transparent border-white w-auto;

        max-width: 450px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        &:hover {
          @apply border-black bg-black;
        }
      }
    }
  }

  @screen sm {
    .content .main {
      @apply pt-0;
    }
  }
}

.dd-thank-you-testimonials {
  .wp-block-group__inner-container {
    > .wp-block-columns:nth-child(odd) {
      @apply flex justify-start  flex-col;

      .wp-block-column {
        @apply ml-0;
      }

      @screen md {
        @apply flex-row;
      }
    }

    > .wp-block-columns:nth-child(even) {
      @apply flex justify-end flex-col-reverse;

      .wp-block-column p {
        @apply text-left;

        @screen md {
          @apply text-right;
        }
      }

      @screen md {
        @apply flex-row;
      }
    }
  }
}
