.dd-accordion__item {
  h4 {
    &::after {
      @apply inline-block ml-4 w-2 text-white;

      content: "+";
      width: 16px;
    }
  }

  &--selected {
    h4 {
      &::after {
        @apply inline-block ml-4 w-2 text-white;

        content: "-";
        width: 16px;
      }
    }
  }
}
