.dd-accordion {
  counter-reset: dd_accordion_items;
}

.dd-accordion__item {
  h4 {
    &::before {
      counter-increment: dd_accordion_items;
      content: counter(dd_accordion_items);
    }

    &::after {
      @apply self-end text-white;

      content: "+";
    }
  }

  &--selected {
    h4 {
      &::after {
        @apply self-end text-white;

        content: "-";
      }
    }
  }
}
