.dd-case-studies__filter__link {
  @apply text-black font-proxima font-semibold text-lg;

  &--separator {
    @apply relative ml-4;

    &::before {
      @apply absolute;

      content: "// ";
      left: -1rem;
    }
  }
}
