.dd-case-studies__filter__link {
  @apply text-black font-proxima font-semibold text-lg;

  &--separator {
    @apply relative ml-4;

    &::before {
      @apply absolute;

      content: "// ";
      left: -1rem;
    }
  }
}

.dd-case-studies__items__item {
  @apply w-1/2 px-8 mb-16;

  // &:nth-of-type(2n+2) {
  //   @apply mt-20;
  // }
}

.dd-case-studies__items__item--margin {
  @apply mt-20;
}
