.dd-hero {
  height: calc(100vh - 78px);

  &__inner {
    height: calc(100% - 68px);
    overflow: scroll;
  }

  &__content {
    max-width: 530px;
  }

  h1 {
    line-height: 113px;
  }
}

.admin-bar {
  .dd-hero {
    height: calc(100vh - 110px);

    &__inner {
      height: calc(100% - 68px);
    }
  }
}

@screen sm {
  .dd-hero {
    h1 {
      @apply leading-tight;
    }
  }
}
