.dd-hero {
  height: calc(100vh - 5rem);
  position: relative;

  &::after {
    @apply absolute block w-full h-full bg-black opacity-50 z-0;

    left: 0;
    content: "";
  }

  @screen md {
    min-height: 606px;

    h1 {
      line-height: 113px;
    }

    &::after {
      @apply hidden;
    }
  }

  @screen xl {
    @apply px-20;
  }
}

.dd-hero__inner {
  @apply relative h-full flex bg-cover bg-center px-10 items-center;

  @screen md {
    @apply px-20;

    height: calc(100% - 4rem);
    min-height: 460px;
  }
}

.dd-hero__content {
  @apply z-10;

  max-width: 530px;
}

.admin-bar {
  .dd-hero {
    height: calc(100vh - 110px);

    &__inner {
      height: calc(100% - 68px);
    }
  }
}
