.dd-posts-timeline__filter {
  @apply text-center mb-10;
}

.dd-posts-timeline__filter__text {
  @apply font-proxima text-lg;

  a {
    @apply inline-block border-placeholder pl-3 pr-6 pt-0 pb-1;

    border-bottom-width: 2px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDEuNDU4IiBoZWlnaHQ9IjIwMS40NTciPjxwYXRoIGQ9Ik0xOTMuMTc3IDQ2LjIzM2w4LjI4IDguMjgtMTAwLjcyMyAxMDAuNzI4TDAgNTQuNDk1bDguMjgtOC4yNzkgOTIuNDYgOTIuNDYgOTIuNDM3LTkyLjQ0M3oiIGZpbGw9IiMwMzAzMDMiLz48L3N2Zz4=");
    background-repeat: no-repeat, repeat;
    background-position: right 0 top 40%, 0 0;
    background-size: 1.125rem auto, 100%;
  }
}

.dd-posts-timeline__filter__list {
  @apply shadow-md;
}

.dd-posts-timeline__items__item {
  @screen md {
    @apply w-1/2 px-8;
  }
}

.dd-posts-timeline__items__item--visible {
  & + & {
    @apply mt-20;

    @screen md {
      @apply mt-0;
    }
  }
}

.dd-posts-timeline__items__item--visible.dd-posts-timeline__items__item--margin {
  @screen md {
    @apply mt-20;
  }
}
