.wrap,
.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
  width: 90vw;
  margin: 0 auto;

  @screen sm {
    width: 60vw;
  }
}

.alignwide {
  margin-left: -5vw;
  width: 80vw;

  @screen sm {
    margin-left: -10vw;
  }
}

.alignfull {
  margin-left: -5vw;
  width: 100vw;

  @screen sm {
    margin-left: -20vw;
  }
}

// .wrap {
//   max-width: 922px;
//   margin: 0 auto;
// }

// .alignfull {
//   margin-left: calc(50% - 50vw);
//   margin-right: calc(50% - 50vw);
//   max-width: 100vw;
//   width: 100vw;
// }

// .wp-block-cover-image .wp-block-cover__inner-container,
// .wp-block-cover .wp-block-cover__inner-container {
//   @apply w-full;

//   padding: $main-container-paddings;
// }
