.banner {
  .wrap {
    @apply flex py-5 px-20;
  }

  .nav-primary {
    @apply flex-1;

    .nav {
      @apply list-reset flex flex-wrap justify-end;

      a {
        @apply inline-block px-6 py-2 border-none text-black lowercase font-proxima text-lg;

        &:hover {
          @apply text-primary;
        }
      }

      li:last-of-type a {
        @apply pr-0;
      }
    }
  }

  .dd-logo {
    @apply flex;

    &:hover {
      @apply border-transparent;
    }

    &--img img {
      @apply w-64;
    }
  }
}

.dd-hamburger {
	height: 30px;
	width: 30px;
	position: absolute;
	right: 20px;
	top: 10px;
  z-index: 101;
  
	> span {
		background-color: #fff;
		border-radius: 1px;
		height: 2px;
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -1px 0 0 -15px;
    transition: height 100ms;
    
		&:after, &:before {
			content: '';
			background-color: #fff;
			border-radius: 1px;
			height: 2px;
			width: 100%;
			position: absolute;
			left: 50%;
			margin-left: -15px;
			transition: all 200ms;
    }
    
		&:after {
			top: -7px;
    }
    
		&:before {
			bottom: -7px;
		}
  }
  
	&.act {
		> span {
      height: 0;
      
			&:after, &:before {
				background-color: #008877;
				top: 1px;
      }
      
			&:after {
				transform: rotate(45deg);
      }
      
			&:before {
				transform: rotate(-45deg);
			}
		}
	}
}
