.home {
  &__case-study {
    @apply dd-2-col-inner-p;

    &--reverse {
      @apply flex-col-reverse;
    }

    .wp-block-column:first-of-type {
      @screen xl {
        @apply pr-24;
      }
    }

    .wp-block-column:last-of-type {
      @screen xl {
        @apply pl-24;
      }
    }
  }

  @screen sm {
    &__case-study {

      &--reverse {
        @apply flex-row;
      }
    }
  }
}
