.has-primary-color {
  @apply text-primary;
}

.has-black-color {
  @apply text-black;
}

.has-white-color {
  @apply text-white;
}

.has-grey-light-background-color {
  @apply bg-grey-light;
}

.has-gradient-1-background-color {
  @apply bg-transparent;

  background-image: $gradient-1;
}
