.dd-mautic-newsletter {
  .mauticform-innerform .mauticform-page-wrapper {
    @apply flex;

    .mauticform-email {
      @apply flex-grow;
    }
  }

  .mauticform-input {
    @apply rounded-none border-t-0 border-r-0 border-l-0 border-b-2;
  }
}
