.responsive-video-container {
  @apply relative overflow-hidden h-0;

  padding-bottom: 56.25%;

  iframe,
  object,
  embed,
  video {
    @apply absolute w-full h-full;

    top: 0;
    left: 0;
  }
}

.wrap,
.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
  width: 90vw;
  margin: 0 auto;

  @screen xl {
    width: 60vw;
  }
}

.alignwide {
  @screen lg {
    width: 90vw;
  }

  @screen xl {
    width: 80vw;
    margin-left: -10vw;
  }
}

// .alignfull {
//   margin-left: -5vw;
//   width: 100vw;

//   @screen xl {
//     margin-left: -20vw;
//   }
// }

.alignfull {
  margin: 0 calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
}

.single-post .entry-content {
  > *:not(.alignwide):not(.alignfull) {
    @apply max-w-md mx-auto;
  }
}

.content {
  @apply relative pt-10;

  min-height: calc(100vh - 12rem);

  .main {
    @apply pt-24;

    padding-bottom: 18rem;

    @screen sm {
      @apply pt-24;
    }

    @screen md {
      padding-bottom: 12rem;
    }
  }

  @screen sm {
    min-height: calc(100vh - 6rem);

    @apply pt-24;
  }
}

.shared-counts-count,
.shared-counts-label {
  @apply hidden;
}
