@font-face {
  font-family: "AktivGrotesk";
  font-weight: 300;
  font-display: fallback;
  src:
    url("../fonts/aktivgrotesk/light/Aktiv-Grotesk-W06-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/aktivgrotesk/light/Aktiv-Grotesk-W06-Light.woff2") format("woff2"),
    url("../fonts/aktivgrotesk/light/Aktiv-Grotesk-W06-Light.woff") format("woff2"),
    url("../fonts/aktivgrotesk/light/Aktiv-Grotesk-W06-Light.ttf") format("truetype"),
    url("../fonts/aktivgrotesk/light/Aktiv-Grotesk-W06-Light.svg") format("svg");
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: 400;
  font-display: fallback;
  src: url("../fonts/aktivgrotesk/regular/aktiv-grotesk-w06-regular.woff") format("woff");
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: 500;
  font-display: fallback;
  src: url("../fonts/aktivgrotesk/medium/aktiv-grotesk-w06-medium.woff") format("woff");
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: 800;
  font-display: fallback;
  src: url("../fonts/aktivgrotesk/xbold/aktiv-grotesk-w04-xbold.woff") format("woff");
}
