.lg-alignfull {
  @screen lg {
    @apply alignfull;
  }
}

.force-hidden {
  display: none !important;
}

// TODO: Tailwind temporary classes
.break-all {
  word-break: break-all;
}

.list-none {
  list-style-type: none;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-o {
  bottom: 0;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.duration-300 {
  transition-duration: 300ms;
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.dd-inner-link-text-black {
  a {
    @apply text-black;
  }
}

.dd-text-hidden {
  @apply inline-block;

  text-indent: -9999px;
  line-height: 0;
}

.dd-text-center-md-text-left {
  @apply text-center;

  @screen md {
    @apply text-left;
  }
}

.dd-mautic-row-hidden {
  &.mauticform-row {
    @apply hidden;
  }
}

.dd-no-wrap {
  @apply whitespace-no-wrap;
}

.dd-hidden {
  @apply hidden;
}

.dd-md-hidden {
  @screen md {
    @apply hidden;
  }
}

.dd-sm-hidden {
  @screen sm {
    @apply hidden;
  }
}

.dd-lg-hidden {
  @screen lg {
    @apply hidden;
  }
}

.dd-hidden-md-block {
  @apply hidden;

  @screen md {
    @apply block;
  }
}

.dd-cover-contact-colorful-box {
  @apply px-8;
}

.dd-cover-contact-colorful-box__separator-and-link {
  @apply font-normal whitespace-no-wrap;
}

.dd-cover-contact-colorful-box__link {
  @apply text-white;
}

// Gutenberg Bug Fixes
// TODO: https://github.com/WordPress/gutenberg/issues/18416
.dd-gutenberg-2-col-margin-fix {
  .wp-block-column:nth-child(1) {
    @media (min-width: 600px) {
      @apply pr-6;
    }
  }

  .wp-block-column:nth-child(2) {
    @media (min-width: 600px) {
      @apply ml-0 pl-6;
    }
  }
}

.dd-cols-sm-reverse {
  @apply flex-col-reverse;

  @screen sm {
    @apply flex-row;
  }
}

.dd-md-px-32 {
  @screen md {
    @apply px-32;
  }
}

.dd-padding-px-20 {
  //TODO: rename
  @screen md {
    @apply px-10;
  }

  @screen lg {
    @apply px-20;
  }
}

.dd-padding-px-32 {
  //TODO: rename
  @screen md {
    @apply px-20;
  }

  @screen lg {
    @apply px-32;
  }
}

.dd-lg-px-32 {
  @screen lg {
    @apply px-10;
  }
}

.dd-font-grotesk {
  @apply font-grotesk font-extrabold;
}

.dd-text-center-md-left {
  @apply text-center;

  @screen lg {
    @apply text-left;
  }
}

.dd-md-pl-20 {
  @screen md {
    @apply pl-20;
  }
}

.dd-md-pr-20 {
  @screen md {
    @apply pr-20;
  }
}

.dd-md-pr-5 {
  @screen md {
    @apply pr-5;
  }
}

.dd-md-pl-5 {
  @screen md {
    @apply pl-5;
  }
}

.dd-max-w-sm {
  @screen md {
    @apply max-w-sm;
  }
}

.dd-ml-auto {
  @apply ml-auto;
}

.dd-text-24 {
  @apply text-2xl;
}

.dd-text-30 {
  @apply text-3xl;
}

.dd-text-48 {
  @apply text-5xl;
}

.dd-text-36 {
  @apply text-4xl;
}

.dd-img-full:not(.alignfull) {
  @apply w-full;

  > *,
  > * > * {
    @apply w-full;
  }
}

.dd-max-w-2xl {
  @apply max-w-2xl;
}

.dd-m-auto {
  @apply m-auto;
}
