body {
  @apply antialiased font-grotesk font-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-grotesk font-medium mb-2 leading-tight;
}

hr {
  @apply border-none block;

  height: 1px;
  background-color: #dbdbdb;
  margin: 1.5rem 0;
}

p {
  @apply mb-3 leading-normal text-xl break-words;
}

a {
  @apply text-primary no-underline border-b border-transparent break-words;

  transition: color $transition;

  &:hover {
    @apply border-primary;
  }
}

h1 {
  @apply text-h1;

  @screen lg {
    @apply text-h1-md;
  }
}

h2 {
  @apply text-h2;

  @screen md {
    @apply text-h2-md;
  }
}

h3 {
  @apply text-h3;
}

h4 {
  @apply text-h4;
}

h5 {
  @apply text-xl;
}

ul {
  @apply mb-6;

  li {
    @apply text-xl;
  }

  li + li {
    @apply mt-2;
  }
}

figure {
  figcaption {
    @apply text-placeholder;
  }
}

blockquote {
  @apply py-6 px-10 italic;

  p {
    @apply inline;
  }

  &::before,
  &::after {
    @apply inline text-primary text-h2;
  }

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

.wp-block-image a:hover {
  @apply border-none;
}
