.dd-mautic-services-group {
  @apply py-16 px-24;
}

.dd-mautic-services-form {
  .mauticform-page-wrapper {
    @apply flex flex-wrap;
  }

  .mauticform-row {
    @apply mb-12 p-2;
  }

  .mauticform-label {
    @apply font-proxima font-bold text-lg;
  }

  .mauticform-row.mauticform-required {
    .mauticform-label {
      &::after {
        @apply text-white;
      }
    }
  }

  .mauticform-input,
  .mauticform-selectbox,
  .mauticform-textarea {
    @apply bg-transparent outline-none rounded-none text-white border-t-0 border-r-0 border-l-0 border-white px-0 pt-0 pb-2;

    border-bottom-width: 2px;

    &::placeholder {
      @apply font-proxima text-placeholder;
    }
  }

  .mauticform-button-wrapper .mauticform-button {
    @apply text-white font-grotesk font-normal rounded-none border-placeholder text-sm mt-4 px-20 py-3;

    @screen md {
      @apply text-lg;
    }

    &:hover {
      @apply bg-primary border-primary;

      transition: $transition;
    }
  }

  .mauticform-errormsg {
    @apply absolute font-proxima pt-2;
  }
}
