.dd-mautic-services-group {
  @apply px-4 pt-8;

  @screen md {
    @apply px-24 pt-10;
  }
}

.dd-mautic-services-form {
  .w-1\/2 {
    @apply .w-full;

    @screen sm {
      @apply .w-1/2;
    }
  }

  .mauticform-page-wrapper {
    @apply flex-wrap;

    display: flex !important; // Overvwriting Mautic Javascript
  }

  .mauticform-row {
    @apply mb-12 px-6;
  }

  .mauticform-label {
    @apply font-grotesk font-bold text-xl;
  }

  .mauticform-row.mauticform-required {
    .mauticform-label {
      &::after {
        @apply text-white;
      }
    }
  }

  .mauticform-input,
  .mauticform-selectbox,
  .mauticform-textarea {
    @apply font-grotesk bg-transparent outline-none rounded-none text-white border-t-0 border-r-0 border-l-0 border-white px-0 pt-0 pb-2;

    border-bottom-width: 2px;

    &::placeholder {
      @apply font-grotesk text-placeholder opacity-100;
    }
  }

  .mauticform-selectbox,
  .mauticform-date input {
    @apply text-placeholder;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OTAgNDkwIiBmaWxsPSIjZmZmIj48cGF0aCBkPSJNMCAxNS41NDFoNDkwTDI0NC45OTEgNDc0LjQ1OSAwIDE1LjU0MXoiLz48L3N2Zz4=");
    background-repeat: no-repeat, repeat;
    background-position: right 0 top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }

  .mauticform-selectbox::-ms-expand {
    display: none;
  }

  .mauticform-selectbox:focus {
    outline: none;
  }

  .mauticform-selectbox option {
    font-weight: normal;
  }

  .mauticform-textarea {
    @apply font-grotesk text-placeholder;
  }

  .mauticform-button-wrapper {
    @apply m-auto;
  }

  .mauticform-button-wrapper .mauticform-button {
    @apply text-white font-grotesk font-normal rounded-none border-placeholder text-sm mt-4 mb-12 px-20 py-3;

    @screen md {
      @apply text-xl;
    }

    &:hover {
      @apply bg-primary border-primary;

      transition: $transition;
    }
  }

  .mauticform-errormsg {
    @apply hidden font-grotesk pt-2;
  }

  .mauticform-has-error {
    .mauticform-input,
    .mauticform-textarea,
    .mauticform-date,
    .mauticform-selectbox {
      @apply border-primary;
    }
  }
}
