.dd-mautic-book-a-call-form {
  .mauticform-label {
    @apply font-grotesk font-bold text-xl;
  }

  .mauticform-row.mauticform-required {
    .mauticform-label {
      &::after {
        @apply text-white;
      }
    }
  }

  .mauticform-input,
  .mauticform-textarea {
    @apply bg-transparent outline-none rounded-none text-white border-t-0 border-r-0 border-l-0 border-white px-0 pt-0 pb-2;

    border-bottom-width: 2px;

    &::placeholder {
      @apply font-grotesk text-placeholder;
    }
  }

  .mauticform-button-wrapper .mauticform-button {
    @apply text-white font-grotesk font-normal rounded-none border-placeholder text-sm mt-4 px-20 py-3;

    @screen md {
      @apply text-xl;
    }

    &:hover {
      @apply bg-primary border-primary;

      transition: $transition;
    }
  }

  .mauticform-errormsg {
    @apply hidden font-grotesk pt-2;
  }

  .mauticform-has-error {
    .mauticform-input,
    .mauticform-textarea {
      @apply border-primary;
    }
  }
}
