.dd-mautic-pdf-popup-form {
  .mauticform-row + .mauticform-row {
    @apply mt-10;
  }

  .mauticform-input,
  .mauticform-textarea {
    @apply bg-transparent outline-none rounded-none text-black border-t-0 border-r-0 border-l-0 border-grey px-0 pt-0 pb-2;

    border-bottom-width: 2px;

    &::placeholder {
      @apply opacity-100 font-grotesk text-black;
    }
  }

  .mauticform-button-wrapper .mauticform-button {
    @apply w-full text-black font-grotesk font-normal rounded-none border-black text-sm mt-4 px-20 py-4;

    @screen md {
      @apply text-xl py-6;
    }

    &:hover {
      @apply bg-primary border-primary text-white;

      transition: $transition;
    }
  }

  .mauticform-errormsg {
    @apply hidden font-grotesk pt-2;
  }

  .mauticform-has-error {
    .mauticform-input,
    .mauticform-textarea {
      @apply border-primary;
    }
  }
}
