@font-face {
  font-family: "ProximaNova";
  font-weight: 400;
  src:
    url("../fonts/proximanova/regular/ProximaNova-Regular.eot") format("eot"),
    url("../fonts/proximanova/regular/ProximaNova-Regular.svg") format("svg"),
    url("../fonts/proximanova/regular/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "ProximaNova";
  font-weight: 500;
  src:
    url("../fonts/proximanova/sbold/ProximaNova-Semibold.eot") format("eot"),
    url("../fonts/proximanova/sbold/ProximaNova-Semibold.otf") format("otf"),
    url("../fonts/proximanova/sbold/ProximaNova-Semibold.svg") format("svg"),
    url("../fonts/proximanova/sbold/ProximaNova-Semibold.ttf") format("ttf"),
    url("../fonts/proximanova/sbold/ProximaNova-Semibold.woff") format("woff");
}

@font-face {
  font-family: "ProximaNova";
  font-weight: 700;
  src:
    url("../fonts/proximanova/bold/ProximaNova-Bold.eot") format("eot"),
    url("../fonts/proximanova/bold/ProximaNova-Bold.otf") format("otf"),
    url("../fonts/proximanova/bold/ProximaNova-Bold.svg") format("svg"),
    url("../fonts/proximanova/bold/ProximaNova-Bold.ttf") format("ttf"),
    url("../fonts/proximanova/bold/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: "ProximaNova";
  font-weight: 800;
  src:
    url("../fonts/proximanova/xbold/ProximaNova-Extrabold.eot") format("eot"),
    url("../fonts/proximanova/xbold/ProximaNova-Extrabold.otf") format("otf"),
    url("../fonts/proximanova/xbold/ProximaNova-Extrabold.svg") format("svg"),
    url("../fonts/proximanova/xbold/ProximaNova-Extrabold.ttf") format("ttf"),
    url("../fonts/proximanova/xbold/ProximaNova-Extrabold.woff") format("woff");
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: 500;
  src: url("../fonts/aktivgrotesk/medium/aktiv-grotesk-w06-medium.woff") format("woff");
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: 400;
  src: url("../fonts/aktivgrotesk/regular/aktiv-grotesk-w06-regular.woff") format("woff");
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: 800;
  src: url("../fonts/aktivgrotesk/xbold/aktiv-grotesk-w04-xbold.woff") format("woff");
}
