@font-face {
  font-family: "ProximaNova";
  font-weight: 400;
  src:
    url("../fonts/proximanova/regular/ProximaNova-Regular.eot?") format("eot"),
    url("../fonts/proximanova/regular/ProximaNova-Regular.svg") format("svg"),
    url("../fonts/proximanova/regular/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: 500;
  src: url("../fonts/aktivgrotesk/medium/aktiv-grotesk-w06-medium.woff") format("woff");
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: 400;
  src: url("../fonts/aktivgrotesk/regular/aktiv-grotesk-w06-regular.woff") format("woff");
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: 800;
  src: url("../fonts/aktivgrotesk/xbold/aktiv-grotesk-w04-xbold.woff") format("woff");
}
