h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 leading-tight;
}

p {
  @apply mb-3 leading-normal font-grotesk font-normal;
}

a {
  @apply text-primary no-underline border-b border-transparent;

  transition: $btn-transition;

  &:hover {
    @apply border-primary;
  }
}

h2 {
  @apply font-grotesk font-extrabold text-h2;
}

h3 {
  @apply font-grotesk font-extrabold text-h3;
}

h4 {
  @apply font-proxima font-extrabold text-h4;
}

@screen md {
  h2 {
    @apply text-h2-md;
  }
}

.wrap {
  max-width: 922px;
  margin: 0 auto;
}
