$transition: 0.2s ease;
$transition-color: color 0.2s ease;
$gradient-1: linear-gradient(
  135deg,
  #ff7715,
  #ff6227 20%,
  #ff4f35 40%,
  #ff3945 60%,
  #ff1d58 80%,
  #ff0d63
);
// $main-container-paddings: 0 1rem;
