.dd-case-studies-filter-link {
  @apply inline-block text-black font-grotesk font-medium text-h1;

  line-height: 4rem;

  &--separator {
    @apply relative ml-10;

    &::before {
      @apply absolute;

      content: "// ";
      left: -2rem;
    }
  }
}

.dd-case-study-item__link {
  @apply inline-block mt-4 text-black font-grotesk font-normal border-none;

  &::after {
    @apply bg-primary block mt-1;

    content: "";
    width: 20px;
    height: 2px;
    transition: width 0.2s ease;
  }
}

.dd-case-study-item {
  @screen md {
    @apply w-1/2 px-10;
  }

  @screen 2xl {
    @apply px-20;
  }
}

.dd-case-study-item__image {
  width: 100%;
  object-fit: cover;
  height: 250px;
  // transition: transform 0.5s ease-in-out;
  // transform: scale(1.4);
  // transform-origin: 100% 0;

  @screen lg {
    height: 300px;
  }

  @screen 3xl {
    height: 400px;
  }

  @screen 4xl {
    height: 450px;
  }
}

.dd-case-study-item__inner {
  &:hover {
    .dd-case-study-item__link {
      &::after {
        width: 100%;
      }
    }

    // .dd-case-study-item__image {
    //   transform: scale(1.5) translateX(30%);
    // }
  }
}

.dd-case-study-item--visible {
  & + & {
    @apply mt-20;

    @screen md {
      @apply mt-0;
    }
  }
}

.dd-case-study-item--visible.dd-case-study-item--margin {
  @screen md {
    @apply mt-32;
  }
}

.dd-case-studies-filter-container {
  @apply mb-8;

  @screen md {
    @apply px-10;
  }

  @screen 2xl {
    @apply px-20;
  }
}
