.dd-counters {
  @apply flex flex-col;

  @screen md {
    @apply flex-row;
  }
}

.dd-counter {
  @apply flex flex-col;
}

.dd-counter__symbols {
  @apply font-grotesk font-extrabold text-xl text-center;

  letter-spacing: rem(2px);
  line-height: 1;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 20px;
  margin: 0 rem(20px);
  font-weight: 400;

  & > span {
    @apply font-extrabold;

    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 2s ease;
    transform: translateY(0);
    line-height: 1;

    span {
      flex: 0 0 100%;
      height: 100%;
    }
  }

  $d: 0;
  $inc: 0.375;

  @for $i from 1 through 20 {
    &:nth-child(#{$i}) > span {
      transition-delay: #{$d * 1s};
    }
    $d: $d + $inc;
  }
}

.dd-counter + .dd-counter {
  @apply mt-10;

  @screen md {
    @apply ml-20 mt-0;
  }
}
