.dd-hero {
  @apply overflow-hidden h-full;

  min-height: 500px;

  @screen sm {
    min-height: unset;
  }

  @screen md {
    height: calc(100vh - 6rem);

    h1 {
      line-height: 120px;
    }
  }

  @screen xl {
    @apply px-24;

    height: 100%;
  }

  @screen 2xl {
    height: calc(100vh - 6rem);
  }

  .admin-bar & {
    height: calc(100vh - 110px);
  }
}

.dd-hero__inner {
  @apply relative h-full flex bg-cover bg-center px-8 items-center;

  overflow: scroll;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &::after {
    @apply absolute block w-full h-full bg-black opacity-50 z-0;

    top: 0;
    left: 0;
    content: "";
  }

  @screen xl {
    height: 100%;
    min-height: 500px;
  }

  @screen 2xl {
    height: calc(100vh - 12rem);
  }

  @screen lg {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 5%;
    padding-bottom: 50px;

    &::after {
      @apply hidden;
    }
  }
}

.dd-hero__content {
  @apply z-10 w-full;

  max-width: 530px;

  .dd-btn {
    @apply block;

    max-width: 250px;

    @screen lg {
      @apply inline-block;
    }
  }

  .dd-btn + .dd-btn {
    @screen lg {
      @apply ml-6;
    }
  }
}

.dd-scroll-link {
  @apply border-none;
}

.dd-hero--custom {
  .dd-hero__inner {
    background-position: center bottom;

    &::after {
      @apply block;
    }
  }

  .dd-hero__content {
    @apply text-center;

    max-width: unset;

    p {
      @apply text-h3 mt-4;
    }

    h1 {
      @apply text-h1;

      @screen lg {
        @apply text-h1-md;
      }
    }

    .dd-btn {
      @apply mx-auto w-64;
    }

    .dd-btn + .dd-btn {
      @screen lg {
        @apply ml-6;
      }
    }
  }
}

.dd-hero--custom-scroll {
  .dd-hero__inner {
    @screen md {
      min-height: calc(100% - 6rem);
    }
  }
}

.dd-hero--bg-color {
  .dd-hero__inner {
    &::after {
      @apply hidden;
    }
  }
}
