.dd-latest-posts-tweet {
  @apply relative flex flex-wrap;
}

.dd-latest-tweet {
  @apply pl-0 pt-12 w-full;

  svg {
    @apply relative text-center;

    width: 50px;

    @screen md {
      top: 50px;
    }
  }

  @screen md {
    @apply pl-20 w-1/2;
  }
}

.dd-latest-post {
  @apply w-full relative mb-32;

  img {
    @apply hidden;

    @screen md {
      @apply block w-full h-full;

      object-fit: cover;
    }
  }

  &:nth-of-type(1) {
    @screen md {
      @apply pr-4;
    }

    @screen xl {
      @apply pr-20;
    }
  }

  &:nth-of-type(2) {
    @apply self-end mt-0;

    @screen md {
      @apply pl-4;

      margin-top: 174px;
    }

    @screen xl {
      @apply pl-20;
    }
  }

  &:nth-of-type(3) {
    @apply mt-0;

    @screen md {
      @apply pr-4;

      margin-top: -87px;
    }

    @screen xl {
      @apply pr-20;
    }
  }

  @screen md {
    @apply w-1/2 mb-0;

    height: 240px;
  }
}

.dd-latest-post__overlay {
  @apply w-full h-full opacity-100;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s ease;

  .dd-latest-post:hover & {
    @apply opacity-100;
  }

  @screen md {
    @apply absolute opacity-0;

    background-color: rgba(0, 0, 0, 0.6);
  }
}

.dd-latest-post__content {
  @apply text-center;

  @screen md {
    @apply absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.dd-twitter-feed {
  @apply flex justify-center;
}

.dd-tweet {
  ul {
    @apply pl-0;
  }

  li {
    @apply flex flex-col-reverse;

    list-style-type: none;

    @screen md {
      // @apply flex-col-reverse;
    }
  }

  @screen md {
    ul {
      @apply pl-6;
    }
  }
}

.dd-tweet .user {
  @apply text-center;

  img[data-scribe="element:avatar"] {
    @apply hidden;
  }

  @screen md {
    @apply text-left;
  }
}

.dd-tweet .tweet {
  @apply text-center;

  a {
    @apply text-black font-normal;

    word-break: break-all;
  }

  @screen md {
    @apply text-left;
  }
}

.dd-tweet .timePosted {
  @apply text-center;

  a {
    @apply text-sm text-black;
  }

  @screen md {
    @apply text-right;
  }
}
