.dd-plans-column {
  max-width: 24rem;
  background: #ff8500;
  border: 3px solid rgba(255, 255, 255, 0.5);

  @screen md {
    height: calc(100% + 28px);
  }

  h3 {
    @apply mt-10;
  }

  h4 {
    @apply relative pl-10 m-0;
  }

  h4::before {
    content: " ";
    display: block;
    border: solid 0.5em #fff;
    border-radius: 0.8em;
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    top: 2px;
  }

  h4::after {
    content: " ";
    display: block;
    width: 0.3em;
    height: 0.6em;
    border: solid orange;
    border-width: 0 0.2em 0.2em 0;
    position: absolute;
    left: 7px;
    top: 6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2;
  }
}

.dd-plans-column-accordion__item {
  @apply border-solid border-white py-8 px-10;

  border-bottom-width: 1px;

  h3 span {
    @apply flex-grow;
  }

  h3 {
    @apply mb-0;

    &::before {
      @apply w-6;
    }

    &::after {
      @apply text-white font-normal;

      content: "+";
      transition: transform 0.4s;
    }
  }

  &--selected {
    h3 {
      &::after {
        transform: rotate(45deg);
      }
    }
  }
}

.dd-plans-column-accordion__item__text {
  @apply mt-4;
}
