.ajax-load-more-wrap .alm-btn-wrap {
  @apply absolute left-0 right-0;

  bottom: -100px;
  opacity: 0.15;
}

.dd-post-listing__filter-menu-link-everything-btn {
  @apply inline-block absolute w-4 h-4;

  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDEuNDU4IiBoZWlnaHQ9IjIwMS40NTciPjxwYXRoIGQ9Ik0xOTMuMTc3IDQ2LjIzM2w4LjI4IDguMjgtMTAwLjcyMyAxMDAuNzI4TDAgNTQuNDk1bDguMjgtOC4yNzkgOTIuNDYgOTIuNDYgOTIuNDM3LTkyLjQ0M3oiIGZpbGw9IiMwMzAzMDMiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  right: 0;
  top: 25%;
  transition: transform 0.4s;
  transform: rotate(180deg);

  &--clicked {
    transform: rotate(0deg);
  }
}

.dd-post-listing__filter-menu-link-everything {
  @apply w-48 text-left text-black relative inline-block border-placeholder px-6 pt-0 pb-1 text-2xl;

  border-bottom-width: 2px;

  @screen lg {
    @apply text-xl w-40;
  }
}

// .dd-post-listing__filter-menu {
//   ul {
//     li + li {
//       @apply mt-4;
//     }
//   }
// }

.dd-post-listing__item {
  @screen md {
    @apply w-1/2 px-8;
  }
}

.dd-post-listing__items .dd-post-listing__item:nth-child(even) {
  @screen md {
    @apply mt-32 pl-10 pr-0;
  }

  @screen 2xl {
    @apply pl-16 pr-0;
  }

  @screen 4xl {
    @apply pl-32;
  }
}

.dd-post-listing__item-inner {
  @apply shadow-md flex flex-col cursor-pointer;

  a:hover {
    @apply border-transparent;
  }
}

.dd-post-listing__item--visible {
  & + & {
    @apply mt-10;

    @screen md {
      @apply mt-0;
    }
  }
}

.dd-post-listing__item--visible:not(.dd-post-listing__item--margin) {
  @screen md {
    @apply pr-10 pl-0;
  }

  @screen 2xl {
    @apply pr-16 pl-0;
  }

  @screen 4xl {
    @apply pr-32;
  }
}

.dd-post-listing__item--visible.dd-post-listing__item--margin {
  @screen md {
    @apply mt-32 pl-10 pr-0;
  }

  @screen 2xl {
    @apply pl-16 pr-0;
  }

  @screen 4xl {
    @apply pl-32;
  }
}

.dd-post-listing__items,
.alm-listing {
  @apply relative flex flex-wrap;

  &::after {
    @screen md {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 2px solid #eee;
    }
  }
}
